<nav id="nav">
    <ul>
        <!-- Items link -->
        <li>
            <a href="/items">Items</a>
        </li>
        <!-- Shops link -->
        <li>
            <a href="/shops">Dealers</a>
        </li>
        <!-- Stocks link -->
        <li>
            <a href="/stocks">Stocks</a>
        </li>
        <!-- Invoices link -->
        <li>
            <a href="/invoices">Invoices</a>
        </li>
        <!-- Orders link -->
        <li>
            <a href="/orders">Orders</a>
        </li>
    </ul>
    <div id="home">
        <a href="/" ><img id="logo" src="/images/hebima%20logo%20and%20text.svg" alt="Hebima Plus Logo"></a>
    </div>
    <div id="btn">
        <a id="logout-btn" href="/logout">LOG OUT</a>
    </div>
</nav>