<nav id="nav">
    <ul>
        <!-- Home link -->
        <li>
            <a href="/">Home</a>
        </li>
        <!-- Items link -->
        <li>
            <a href="/items">Items</a>
        </li>
        <!-- Shops link -->
        <li>
            <a href="/shops">Shops</a>
        </li>
    </ul>
    <h1>
        Hebima Plus
    </h1>
</nav>