<nav id="nav">
    <ul>
        <!-- Home link -->
        <li>
            <a href="/">Home</a>
        </li>
        <!-- Items link (selected) -->
        <li>
            <a href="/items">Items</a>
        </li>
        <!-- Shops link -->
        <li>
            <a href="">Shops</a>
        </li>
    </ul>
</nav>