<nav id="nav">
    <ul>
        <!-- Home link -->
        <!-- <li>
            <a href="/">Home</a>
        </li> -->
        <!-- Items link -->
        <li>
            <a href="/items">Items</a>
        </li>
        <!-- Shops link -->
        <li>
            <a href="/shops">Dealers</a>
        </li>
        <!-- Stocks link -->
        <li>
            <a href="/stocks">Stocks</a>
        </li>
    </ul>
    <div id="logo">
        <a href="/"><img src="/images/hebima logo and text.svg" alt="Hebima Plus Logo"></a>
    </div>
    <div id="btn">
        <a id="logout-btn" href="/logout">LOG OUT</a>
    </div>
</nav>