<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/404.css">
    <title>
        <%= title %>
    </title>
    <link rel="icon" href="/images/404.svg" type="image/x-icon">
    <!-- Include LottieFiles script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.9.6/lottie.min.js"></script>
    <script src="/javascript/404.js"></script> <!-- Link to external script -->
</head>

<body>
    <div class="not-found content">
        <h1 class="mt-4">OOPS, Page not found!</h1>
        <!-- Lottie animation container -->
        <div id="lottie-animation" class="lottie-container"></div>
        <div class="redirect-button">
            <a href="/" class="btn btn-primary">Go to Home Page</a>
        </div>
    </div>
</body>

</html>