<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/nav.css">
        <link rel="stylesheet" href="/add-item.css">
        <title><%= title %></title>
    </head>
<body>
    <!-- Include the navigation partial -->
    <%- include('./partials/nav.ejs') %>

    <form action="/add-item" method="post">
        <div>
            <label for="Item Code">Item Code</label>
            <input type="text" id="item_code" name="item_code" required>
        </div>
        <div>
            <label for="Description ">Description</label>
            <input type="text" id="description" name="description" required>
        </div>
        <div>
            <label for="Unit">Unit</label>
            <input type="text" id="unit" name="unit" required>
        </div>
        <div>
            <label for="Quantity">Quantity</label>
            <input type="number" id="quantity" name="quantity" required>
        </div>
        <div>
            <label for="Price">Price</label>
            <input type="number" id="price" name="price" required>
        </div>
        <button type="submit">Add Item</button>
    </form>

</body>
</html>