<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/nav.css">
        <link rel="stylesheet" href="/index.css">
        <title><%= title %></title>
    </head>
<body>
    <header>
        <nav>
            <img src="/images/logo.jpg" alt="Hebima Plus Logo">
        </nav>
    </header>
    <main>
        <div id="content">
            <a href="/items"><img src="/images/items.svg" alt="Items Icon"></a>
            <a href="/shops"><img src="/images/items.svg" alt="Items Icon"></a>
        </div>
        <div id="content">
            <a href="/stocks"><img src="/images/items.svg" alt="Items Icon"></a>
            <a href="/orders"><img src="/images/items.svg" alt="Items Icon"></a>
        </div>
    </main>
        <!-- <div id="dark-mode-toggle">
            <button>Theme</button>
        </div>
        <script>
            const darkModeButton = document.getElementById('dark-mode-toggle');
            const body = document.body;
            darkModeButton.addEventListener('click', () => {
            body.classList.toggle('dark-mode');
            });
        </script> -->
</body>
</html>