<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/nav.css">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/footer.css">
    <title>
        <%= title %>
    </title>
    <link rel="icon" href="/images/home.svg" type="image/x-icon">
</head>

<body>
    <header>
        <nav>
            <img src="/images/hebima logo and text.svg" alt="Hebima Plus Logo">
            <a id="logout-btn" href="/logout">LOG OUT</a>
        </nav>
    </header>
    <main>
        <div id="content">
            <a href="/items"><img src="/images/items.svg" alt="Items Icon"></a>
            <a href="/stocks"><img src="/images/stocks.svg" alt="Items Icon"></a>
            <a href="/orders"><img src="/images/orders.svg" alt="Items Icon"></a>
            <a href="/shops"><img src="/images/dealers.svg" alt="Items Icon"></a>
        </div>
    </main>
</body>
<%- include('./partials/footer.ejs') %>

</html>