<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/items.css">
    <link rel="stylesheet" href="/nav.css">
    <title><%= title %>></title>
</head>
<body>

    <!-- Include the navigation partial -->
    <%- include('./partials/nav.ejs') %>

    <div id="new-btn-bar">
        <!-- Add New Item button -->
        <a href="/add-item" id="add-new-btn">Add New</a>
    </div>

    <table id="items">
        <thead>
            <th>Item Code</th>
            <th>Description</th>
            <th>Unit</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Actions</th>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</body>
</html>