<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/shops.css">
    <link rel="stylesheet" href="/nav.css">
    <title><%= title %></title>
</head>
<body>
    <!-- Include the navigation partial -->
    <%- include('./partials/nav.ejs') %>

    <div id="add-new">
        <!-- Add New Shop button -->
        <a href="/shops/add" id="add-new-btn">Add New Shop</a>
    </div>
    
    <main>
        
    </main>

    
</body>
</html>
