@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body {
    font-family: "Open Sans", sans-serif;
    background-color: #f8f8f2;
    min-height: 100%;

}

nav {
    position: static;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav img {
    margin: 0.25% 0 0.25% 3%;
    width: 27%;
    display: flex;
    justify-content: start;
}

nav a {
    margin: 1% 3% 1% 0%;
    display: flex;
    align-items: center;
    justify-content: end;
}

#logout-btn {
    font-family: "Montserrat", sans-serif;
    width: 4rem;
    height: 7%;
    text-decoration: none;
    background-color: #b5b3c0;
    color: #000000;
    border: 5px solid #8a8888;
    font-size: small;
    font-weight: 600;
    border-radius: 4rem;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logout-btn:hover {
    background-color: #807e7e;
    cursor: pointer;
    transform: scale(0.99);
    font-weight: 600;
    font-size: small;
    color: #ffffff;
    border: 5px solid #b5b3c0;
}


a {
    text-decoration: none;
    color: #000000;
    font-size: 1.5em;
    font-weight: 600;
    padding: 7px;

}

main div img {
    height: 40vh;
    padding: 5px;
}

main {
    margin: auto;
    width: 97vw;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    margin: 5vh 0 5vh 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.card,
.report-card {
    background-color: #fff;
    width: 225px;
    height: 425px;
    border-radius: 27px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card img {
    padding-top: 5vh;
    width: 95%;
    height: auto;
    transition: ease-in 0.7s;
}

.card p {
    font-size: 1.4rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #fff;
    transition: ease-in 0.7s;
}



.card:hover p {
    transform: translateY(-200px);
    transition: ease-out 0.5s;

}

.card:hover img {
    cursor: pointer;
    transform: translateY(-300px);
    transition: ease-out 0.8s;
}

.menu a {
    text-decoration: none;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    color: #ffffff;
}

.submenu a {
    text-decoration: none;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: #ffffff;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #303030;
    text-align: center;
}

.menu a:hover {
    text-decoration: underline;
    font-family: "Montserrat", sans-serif;
    transform: scale(1.01);
    color: #ffffff;
}

.menu {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    position: relative;
    bottom: -200px;
    transition: ease-in 0.7s;
}

.submenu {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    transition: ease-in 0.7s;
    margin-bottom: 3vh;
}

.card:hover .menu {
    bottom: 150px;
    transition: ease-out 0.5s;
}

.card:nth-child(1) {
    background-color: #EF476F;
}

.card:nth-child(2) {
    background-color: #FCAF34;
}

.card:nth-child(3) {
    background-color: #06D6A0;
}

.card:nth-child(4) {
    background-color: #118AB2;
}

.report-card {
    width: 750px;
    background-color: #073B4C;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);

}

.report-card h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
}


.report-card p {
    font-size: 1.4rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #fff;
    transition: ease-in 0.5s;
}

.report-card:hover p {
    transform: translateY(-300px);
    transition: ease-out 0.5s;

}

.report-card img {
    padding-top: 5vh;
    width: 95%;
    height: auto;
    transition: ease-in 0.5s;
}

.report-card:hover img {
    cursor: pointer;
    transform:translateY(-300px);
    transition: ease-out 0.5s;
}

.report-card:hover {
    width: 800px;
    z-index: 1;
}

.report-menu a {
    text-decoration: none;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    color: #ffffff;
}

.report-submenu {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    transition: ease-in 0.7s;
    margin: 0 3vh 3vh 3vh;
    width: 33%;
}

.report-card:hover .report-menu {
    bottom: 225px;
    transition: ease-out 0.5s;
}

.report-menu a:hover {
    text-decoration: underline;
    font-family: "Montserrat", sans-serif;
    transform: scale(1.01);
    color: #ffffff;
}

.report-menu {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: flex-start;
    position: relative;
    bottom: -800px;
    transition: ease-out 0.7s;
}

/* Media Query for adjusting height of the report-card at width of 712px */
@media (max-width: 712px) {
    .report-card {
        height: auto;
        padding-bottom: 20px;
    }

    .report-menu {
        flex-direction: column;
        align-items: center;
    }
}