@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    margin-top: 6rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

#container {
    width: 95%;
    margin: auto auto;
}

.header {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
}

.date {
    display: flex;
    justify-content: start;
}


label {
    font-family: "Montserrat", sans-serif;
    font-size: large;
    font-weight: 550;
    color: #000000;
}

form {
    border: 3px solid #bdbbbb;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    font-weight: normal;
    color: #444;
    font-size: large;
    padding: 2rem 3rem 1rem 3rem;
}

form div {
    margin-top: 1rem;
    display: inline-block;
}

form div input {
    border: none;
    outline: none;
    border-bottom: 1.5px solid #000000;
    width: auto;
}

form div select {
    border: none;
    outline: none;
    border-bottom: 1.5px solid #000000;
    width: 50%;
}

form button {
    font-family: "Montserrat", sans-serif;
    font-weight: 550;
    width: 10rem;
    height: 2.5rem;
    margin: auto;
    font-size: 1.1rem;
    background-color: #ad9fff;
    border: none;
    border-radius: 50px;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ad9fff;
}

form button:hover {
    cursor: pointer;
    background-color: #654bfa;
    color: aliceblue;
}

form .submit-btn {
    display: flex;
    justify-content: center;
}

#input-fields {
    display: flex;
    justify-content: space-between;
}

#add-item-btn {
    display: flex;
    justify-content: space-around;
}

.invoice-card {
    width: 90%;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    border: 1.5px solid #2e2e2e;
    border-radius: 10px;
    box-shadow: #8f8f8f 0px 1px 1px 0px;
    width: 100%;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 550;
}


.invoice-card h3 {
    margin-bottom: 1rem;
    font-size: large;
    font-weight: 650;
}

.invoice-card p {
    margin-bottom: 0.5rem;
    font-weight: 550;
}

.reset-btn {
    display: flex;
    justify-content: end;
}

.invoice-details {
    display: flex;
    flex-direction: row;
}

table {
    width: 100%;
    margin: 20px auto;
}

table,
th,
td {
    border-collapse: collapse;
    border: 1px solid #2e2e2e;
}

th,
td {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

thead {
    height: 2rem;
    font-family: "Montserrat", sans-serif;
}

tr {
    height: min-content !important;
}

.header h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 550;
    font-size: 1.5rem;
}

.delete-btn {
    width: 40% !important;
    background-color: #d34856;
    border: none;
    color: #000000;
    padding: 0.5rem 1rem;
    border-radius: 5rem;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px;
}

.delete-btn:hover {
    background-color: #e90c22;
    color: #ddd;
    cursor: pointer;
}

#action {
    /* Targets the 5th column (index starts from 1) */
    width: 15%;
    /* Adjust width as desired */
}

#action-btns {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 2px;
}

.large-textarea {
    width: 100%;
    height: 100px; /* Adjust height as needed */
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-group label {
    margin-bottom: 0.5rem;
}

#remarks {
    width: 100%;
    height: 100px; /* Adjust height as needed */
}

