header {
    position: static;
}


nav {
    width: auto;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid  #000000;
}

nav img {
    margin: 25px;
}

main div img {
    margin: 20px;
    height: 30vh;
    object-fit: cover;
    padding: 10px;
    border-radius: 10px;
    border: #868383 1px solid ;
}

main {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#content {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}