body {
    font-family: Product Sans, Helvetica, sans-serif;
    margin-top: 4rem;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #container {
    width: 100%;
    margin: auto auto;
    color: #444;
  }
  
  
  #item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #cccccc;
    border-radius: 5px;
    padding: 1rem;
  }
  
  #item p {
    font-size: 2rem;
    font-weight: bold;
    color: #444;
  }
  
  #item img {
    height: 10rem;
    border-radius: 5px;
  }
  
  .button_list {
    margin-top: 1rem;
  }
  
  .button {
    border: none;
    outline: none;
    background-color: #ad9fff;
    padding: 0.3rem 1.2rem;
    border-radius: 5px;
    font-size: 1.3rem;
    color: black;
  }
  
  .button_dlt {
    border: none;
    outline: none;
    background-color: #d11a2a;
    padding: 0.3rem 1.2rem;
    border-radius: 5px;
    font-size: 1.3rem;
    color: white;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  #add-new-btn {
    width: 15%;
    margin: auto;
    text-decoration: none;
    background-color: #ad9fff;
    color: black;
    border: none;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 5rem;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #add-new-btn:hover {
    background-color: #8672ff;
    cursor: pointer;
  }
  
  #item span {
    font-size: 2rem;
    font-weight: normal;
    color: #444;
  }

  main {
    width: 95%;
    margin: auto;  
  }

  table {
    width: 95%;
    margin: 20px auto;
  }

  table, th, td {
    border-collapse: collapse;
    border: 1px solid #000000;
  }
  
  th, td {
    padding: 5px;
    text-align: center;
  }


/* Style for the card container */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Style for individual cards */
.card {
  width: 95%;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-title {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: 5px;
}

.btn {
  width: 3rem;
  display: inline-block;
  margin-right: 5px;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.edit-btn {
  background-color: #56a3f5;
  border: none;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 5rem;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px;
}

.edit-btn:hover {
  background-color: #0b71df;
  color: #ddd;
  cursor: pointer;
}

.delete-btn {
  background-color: #d34856;
  border: none;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 5rem;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px;
}

.delete-btn:hover {
  background-color: #e90c22;
  color: #ddd;
  cursor: pointer;
}

.buttons a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

th:nth-child(5), td:nth-child(5) { /* Targets the 5th column (index starts from 1) */
  width: 15%; /* Adjust width as desired */
}
