@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  font-family: "Open Sans", sans-serif;
  margin-top: 4rem;
  margin-left: 5px;
  margin-right: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  align-items: center;
}

#page-name p {
  font-size: 2rem;
  font-weight: 550;
  font-family: "Montserrat", sans-serif;

}

a {
  text-decoration: none;
  color: inherit;
}

#add-new-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
  margin: auto;
  text-decoration: none;
  background-color: #9fff9f;
  color: black;
  border: 1px solid #ad9fff;
  font-size: 1 rem;
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

#add-new-btn:hover {
  background-color: #08c408;
  cursor: pointer;
  color: aliceblue;
}

#search-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
  margin: auto;
  text-decoration: none;
  background-color: #ad9fff;
  color: black;
  border: 1px solid #ad9fff;
  font-size: 1 rem;
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-btn:hover {
  background-color: #755dfc;
  cursor: pointer;
  color: aliceblue;
}


main {
  width: 98%;
  padding-top: 1%;
  margin: auto;
}

#search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#search-form {
  display: flex;
  flex-direction: row;
  padding-left: 0.5%;
}

#search-form input {
  border-radius: 3px;
  border: 1px solid #2e2e2e;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  width: 40%;
}

table {
  width: 98%;
  margin: 20px auto;
}

table,
th,
td {
  border-collapse: collapse;
  border: 1px solid #2e2e2e;
}

th,
td {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

thead {
  height: 2rem;
  font-family: "Montserrat", sans-serif;
}

tr {
  height: min-content !important;
}

.edit-btn {
  width: 40% !important;
  background-color: #56a3f5;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px;
}

.edit-btn:hover {
  background-color: #0b71df;
  color: #ddd;
  cursor: pointer;
}

.delete-btn {
  width: 40% !important;
  background-color: #d34856;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px;
}

.delete-btn:hover {
  background-color: #e90c22;
  color: #ddd;
  cursor: pointer;
}

.pdf-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
  font-size: 1rem;
  width: 10% !important;
  background-color: #ca9910;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px;
}

.pdf-btn:hover {
  background-color: #a1790b;
  color: #ddd;
  cursor: pointer;
}

.show-btn {
  width: 130% !important;
  background-color: #2b69db;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px;
}

.show-btn:hover {
  background-color: #2d19a1;
  color: #ddd;
  cursor: pointer;
}

.buttons a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#action {
  /* Targets the 5th column (index starts from 1) */
  width: 15%;
  /* Adjust width as desired */
}

#action-btns {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 2px;
}

main {
  font-size: medium;
}

#invoice-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
  text-decoration: none;
  background-color: #ad9fff;
  color: black;
  border: 1px solid #ad9fff;
  font-size: 1 rem;
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

#invoice-btn:hover {
  background-color: #755dfc;
  cursor: pointer;
  color: aliceblue;
}

.invoice-card {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #2e2e2e;
  border-radius: 10px;
  box-shadow: #8f8f8f 0px 1px 1px 0px;
  width: 100%;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
}

.order-card {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #2e2e2e;
  border-radius: 10px;
  box-shadow: #8f8f8f 0px 1px 1px 0px;
  width: 100%;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
}

.invoice-card h3 {
  margin-bottom: 0.75rem;
  font-size: large;
  font-weight: 650;
}

.order-card h3 {
  margin-bottom: 0.75rem;
  font-size: large;
  font-weight: 650;
}

.invoice-card p {
  margin-bottom: 0.5rem;
  font-weight: 550;
}

.order-card p {
  margin-bottom: 0.5rem;
  font-weight: 550;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2.5% 0 2.5%;
  width: 100%;
}

.top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 2.5% 0 2.5%;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
}

form label,
form input,
form button,
form a {
  margin: 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
}

.invoice-card table {
  background-color: #ffffff;
}

.order-card table {
  background-color: #ffffff;

}

#search-btns {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-decoration: none;
  background-color: #ad9fff;
  color: black;
  border: 1px solid #ad9fff;
  font-size: medium;
  padding: 0.4rem 1rem 0.4rem 1rem;
  border-radius: 5rem;
  transition: background-color 0.3s ease;
}

#search-btns:hover {
  background-color: #755dfc;
  cursor: pointer;
  color: aliceblue;
}

form input {
  padding: 0.3rem;
  border-radius: 3px;
  border: 1px solid #2e2e2e;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

form label {
  font-size: large;
}

button {
  cursor: pointer;
}

/* Custom styles for SweetAlert dialog */
.swal2-popup {
  border-radius: 20px !important;
  /* Apply border radius */
  font-family: "Montserrat", sans-serif;
  /* Apply custom font family */
}

.swal2-title {
  color: #333 !important;
  /* Apply title color */
  font-size: 24px !important;
  /* Apply title font size */
  font-weight: 600 !important;
  /* Apply title font weight */
  font-family: "Montserrat", sans-serif;
  /* Apply custom font family */
}

.swal2-content {
  color: #555 !important;
  /* Apply content color */
  font-size: 18px !important;
  /* Apply content font size */
  font-family: "Montserrat", sans-serif;
  /* Apply custom font family */
}

.swal2-confirm,
.swal2-cancel {
  padding: 10px 20px !important;
  /* Apply button padding */
  font-size: 18px !important;
  /* Apply button font size */
  font-weight: 600 !important;
  /* Apply button font weight */
  font-family: "Montserrat", sans-serif;
  /* Apply custom font family */
}

.swal2-confirm {
  background-color: #e90c22 !important;
  /* Apply confirm button background color */
  color: white !important;
  /* Apply confirm button text color */
}

.swal2-cancel {
  background-color: #686868 !important;
  /* Apply cancel button background color */
  color: white !important;
  /* Apply cancel button text color */
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 2px;
}

#add-new,
#summary-btn,
#invoice-btn,
#stock-btn {
  margin-left: 1rem;
  margin-right: 1rem;
}

.left-align {
  text-align: left;
  padding-left: 2rem
}

#compare-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
  margin: auto;
  text-decoration: none;
  background-color: #ad9fff;
  color: black;
  border: 1px solid #ad9fff;
  font-size: 1 rem;
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

#compare-btn:hover {
  background-color: #755dfc;
  cursor: pointer;
  color: aliceblue;
}

.bottom-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 2.5% 0 2.5%;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
}

#stock-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
  text-decoration: none;
  background-color: #f05186c7;
  color: black;
  border: 1px solid #eb2466;
  font-size: 1 rem;
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

#stock-btn:hover {
  background-color: #eb2466;
  cursor: pointer;
  color: aliceblue;
}

.stock-btn,
.summary-btn {
  margin-left: 1rem;
  margin-right: 1rem;
}


#card-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 1% 0 1%;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
}

.settle-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
  margin: auto;
  text-decoration: none;
  background-color: #ad9fff;
  color: black;
  border: 1px solid #ad9fff;
  font-size: 1 rem;
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settle-btn:hover {
  background-color: #755dfc;
  cursor: pointer;
  color: aliceblue;
}

#settle-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 550;

}

#status-img {
  width: 5rem;
  height: auto;
}